@font-face {
	font-family: 'Palmark';
	src: url('../fonts/palmark.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/palmark.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/palmark.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/palmark.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/palmark.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/palmark.svg#palmark') format('svg'); /* Chrome < 4, Legacy iOS */
}